body {
    margin: 0 auto;
}

.daily-container {
    width: 100%;
    margin: 0 auto;
    min-height: 250px;
    height: 100% auto;
    background-image: url('../assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.daily-weather {
    padding: 25px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-icon {
    width: 40px;
    margin: 0 20px 0 0;
    display: flex; 
    align-items: center;
}

h2 {
    font-size: 22px;
    margin: 4px 0 0 0;
}

 h3 {
    margin: 10px 0 10px 0;
 }

.daily-container p {
    font-size: 40px;
}

.farmer-comment {
    margin: 0 auto 30px auto;
}

.farmer-comment p {
    font-size: 14px;
    margin: -15px auto 0 auto;
    width: 60%;
}

.stats-today {
    display: flex;
    justify-content: space-evenly;
}

.stats-today p {
    font-size: 12px;
}

.bonus-data {
    width: 44vw;
    height: 35px;
    padding: 5px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}

.bonus-data p {
    margin: 0 0 0 0;
    padding: 0 20px 0 0;
    height: 20px;
    display: flex;
    align-items: center;;
}

.icon {
    margin: 0 0 0 20px;
    height: 20px;
    width: 20px;
}

.humidity {
    background-color: #724E91;
}

.wind-speed {
    background-color: #94A562;
}